@font-face {
    font-family: font;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: font;
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    color: hsl(234, 29%, 20%);
   
}

.row1 {
    width: 60%;
}

.row2 {
    width: 40%;
}

.row2 img{
    width: 100%;
}

ul{
list-style-image: url(./assets/images/icon-list.svg);
}

input {
    width: 90%;
    padding: 10px;
    text-align: center;
    height: 20px;
}

button {
width: 90%;
background-color: hsl(234, 29%, 20%);
text-align: center;
color: white;
padding: 10px;
border-radius: 4px;
}

.row3{
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    color: hsl(234, 29%, 20%);
   
}


#b {
    display: none;
}

 @media (max-width: 760px) {
    .container {
    flex-direction: column-reverse;
    width: 95%;
    padding: 0;
    }
    body {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
    .row1 {
        width: 100%;
        padding: 20px;
    }
    
    .row2 {
        width: 100%;
    }

    .row2 img {
        content: url(./assets/images/illustration-sign-up-mobile.svg);
        height: 100%;
    }
    .container h1 {
        font-size: 50px;
    }

    form {
        width: 90%;
    }

}